.header {
    width: 100%;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    position: sticky;
    top: 0;
}

.header .logo {
    font-size: 24px;
    color: #555;
}

.header .logo span {
    color: mediumslateblue;
}

.header .btn {
    padding: 6px 12px;
    background-color: mediumslateblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    height: 33px;
    align-items: center;
    justify-content: center;
} 
 
.header .header-right {
    display: flex;
    gap: 4px;
}

.header .btn.add-post {
    font-size: 18px;
    display: none;
}

.header .btn.add-post ion-icon {
    transition: 0.3s ease;
}

.header .btn.add-post.active ion-icon {
    transform: rotate(45deg);
}

.header .btn:hover {
    opacity: 0.7;
}

.header .btn:focus {
    outline: 1px solid black;
}

.main-wrapper {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    width: 80%;
    padding: 10px;
}

.main-wrapper .posts {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.main-wrapper .post-form {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: calc(20px + 74px);
    max-height: calc(100vh - 14px);
}
.title {
    text-align: center;
    color: mediumslateblue;
    font-size: 22px;
}

.add-post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.add-post-form input, textarea, button {
    padding: 7px 12x;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.add-post-form button {
    background-color: mediumslateblue;
    color: white;
    border: none;
    font-size: 14px;    
    cursor: pointer;
}

.add-post-form button:active {
    opacity: 0.7;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 20px 5%;
    }
    .main-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .main-wrapper .post-form {
        position: fixed;
        width: 90%;
        background-color: white;
        z-index: 9;
        transition: 0.3s ease;
        left: -110%;
    }
    .main-wrapper .post-form.active {
        left: 5%;
    }

    .main-wrapper {
        grid-template-columns: 1fr;
    }

    .header-right .btn.add-post {
        display: flex;
    }
}